body{
background: black;
color: white;
width: 100vw;
display: flex;
justify-content: center;
}

.knight{
background-image: url(img/knight.png);
background-size: cover;
width: 300px;
height: 300px;
position: absolute;
top: 25%;
}

.dot{
position: relative;
}

.contain{
    position: absolute;
    display: flex;
    top: 55%;
}

.dot::after{
position: absolute;
content: '';
background: black;
top: 0px;
bottom: 0px;
left: 0px;
right: -5px;
animation: cover 2000ms steps(4);
animation-iteration-count: infinite;
}

@keyframes cover{
to{left: 100%}
}
